<p>
  <b>Nombre:</b>
  <%=h @sinonimo.nombre %>
</p>

<p>
  <b>Mapeado:</b>
  <%=h @sinonimo.mapeado %>
</p>


<%= link_to 'Edit', edit_sinonimo_path(@sinonimo) %> |
<%= link_to 'Back', sinonimos_path %>