@background: #FFF; 
@background2: #EFEFEF;
@background3: #F9F9F9;
@border_color: #666666;
@color: #000;
@color2: #0A0A0A;
@color3: #9F9F9F;
@a_color: #236B8F; 
@a_hover: #0000FF;
@red: #E00029;
@buscar_color: #595959; /**/
@tr_background: #C2E0EF; /*Background TR*/
@tr_selected: #61B5DF;
@table_border_color: #8f8f8f;
@col1: #3B3B3B;
@col2: #777777;
@col3: #999999;
@col4: #4A4A4A;
@color_hi:#FFF8D5;
@color_hi2:#E1D07A;

body{
  padding: 0px;
  margin: 0px;
  background: @background; color: @color;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
a { color: @a_color; text-decoration: underline; cursor: pointer; }
a:hover { color: @a_hover; text-decoration: none; }
#flashNotice{
  color: @a_color;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}
#flashError{
  color: @red;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
td .fieldWithErrors {
  display: block !important;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #FF0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  h2{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 2px;
    background-color: @background2;
    color: @color2;
    border-bottom: 2px solid #FF0000;
  }

  p{margin-bottom: 0; padding: 5px; }
  ul li{font-size: 12px; list-style: none;}
}

table{
  border-collapse: collapse;
  border: 1px solid @color3;
}
tr{
  border-top: 1px solid @table_border_color;
}
.over{
  background-color: @tr_background !important;
}
.selected{
  background-color: @tr_selected !important;
  color: #FFF;
}
.even{
  background-color: #EFEFEF;
}
th, td{
/*  border: 1px solid @border_color_table;*/
  padding: 3px 10px;
}

/*Forms*/
form p{
  clear: both;
  with: 100%;
  margin-bottom: 1em;
}

input, select, textarea{
  padding: 2px 3px;
  background: @background3;
  border-width: 1px;
  border_style: solid;
  border-color: @col1 @col2 @col3 @col4; /* @border_color;*/
  color: @color;
}
input[type="submit"] {
  margin:10px 200px;
  font-weight:bold;
  font-size: 1.3em;
  cursor: pointer;
}
input[type="file"] {
  color: @color;
  border-width: 1px;
  border_style: solid;
  border-color: @col1 @col2 @col3 @col4;
  /*background-color: @background2;
  border: 1px solid @border_color;*/
}
.num{
  text-align:right;
}
input.num{
  width: 10em;
  text-align: right;
}
legend{
  font-weight: bold;
  padding: 4px 12px;
}

label{
  vertical-align: top;
  font-weight: bold; 
  color: @color2;
}
.input{
  padding: 4px;
}
input:focus, textarea:focus{
  background-color: @color_hi;
  border: 1px solid @color_hi2;
}

.i{
  margin: 12px 4px;
}

div#cont{ 
  padding: 10px;
  text-align:left;
  margin:auto;
}



/*Menu*/
@a_menu_color: #5f5f5f;
ul#navigation{
  height: 28px;
  list-style: none;
  padding: 0px; margin: 0px;
  background: @background2;
  li{display: inline; float: left;}
  li a{
   display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 7px;
    border-right: 1px solid @border_color;
  }
  li a:hover{
    background: @a_menu_color !important;
  }
}
.buscar{
  background: @buscar_color;
  padding: 4px;
  display: table;
}
#enc{
  height: 75px;
  border-bottom: 2px solid @border_color;
  .login{
  font-weight: bold;
  padding: 10px 20px;
  a{
    text-decoration:none;
    font-size:1.6em;
    color: @background2 !important;
  }
  a:hover{text-decoration:underline; }
}
}

ul{margin:4px; padding:4px;}

/*++++++++++++++++++++++++*/
/*Estilos*/
.red{ color: #FF0000; }
.b{ font-weight: bold;}
.markedForDelete{ background-color: #FF7777; }

/*********************************/
/*Estilos Formtastic*/

.formtastic{
    ol {
        padding: 10px 15px;
        list-style: none;
    }
    abbr{ 
        color: #6AB825; 
        margin: 0px 2px;
    }
    .inline-errors{
        color: @red;
        margin: 0px 0px 3px;
    }
    .inline-hints{ 
        color: #5F5F5F;
        font-size: .9em;
        font-style: italic;
        margin: 1px;
    }
    li{
        margin: 10px 4px;
    }
    label{ float: left }
    fieldset{ border: 1px solid @col3;}
    fieldset.buttons{
        padding: 0px;
        border: none;
        ol{padding: 5px; margin: 0px; }
        li{padding: 0px; margin: 0px; }
    }
}

/*********************************************/
/*Area de importacion*/
@col-imp: #BAFBD4;
@col-enc: #BACBFB;
@col-desc: #FF0000;
@col-fin: #F6FA80;
@col-imp-color: #000000;
.area-imp{
    background-color: @col-imp !important;
    color: @col-imp-color;
}
.area-enc{
    background-color: @col-enc !important;
}
.area-desc{
    background-color: @col-desc !important;
    color: #FFF;
}
.area-fin{
    background-color: @col-fin !important;
}

/*Menu*/
ul#areas-importacion{
    padding: 0px;
    margin: 0px;
    list-style: none;
    
    li{
        display: inline;
        padding: 0px;
        margin: 0px;
        
        a{
            padding: 4px 8px;
            border: 1px solid @border_color;
            float: left;
        }
    }
    
}



