@background: #FFF; 
@background2: #EFEFEF;
@background3: #F9F9F9;
@border_color: #666666;
@color: #000;
@color2: #0A0A0A;
@color3: #9F9F9F;
@a_color: #236B8F; 
@a_hover: #0000FF;
@a_hover_light: #FFFFFF;
@buscar_color: #595959; /**/
@tr_background: #C2E0EF; /*Background TR*/
@tr_selected: #61B5DF;
@table_border_color: #8f8f8f;
@col1: #3B3B3B;
@col2: #777777;
@col3: #999999;
@col4: #4A4A4A;
@color_hi:#FFF8D5;
@color_hi2:#E1D07A;
/*Named*/
@red: #E00029;
@green:#1B8800;
@blue: #04428A;
@dark_blue:#304F71;
@dark_grey: #474747;
@light_grey: #CCCCCC;
@light_green: #D7E4BC;
@light_blue: #C5D9F1;
@light_yellow: #FDFFC2;

/*Definicion de colores*/
.red{ color: @red !important;}
.green{ color: @green !important;}
.blue{ color: @blue !important;}
.dark-grey{ color: @dark_grey !important;}
.light-grey{color: @light_grey !important; }
.dark-blue{ color: @dark_blue !important;}
.light-green{ color: @light_green !important;}
.light-blue{ color: @light_blue !important;}
.light-yellow{ color: @light_yellow !important;}

.bg-red{ background-color: @red !important;}
.bg-green{ background-color: @green !important;}
.bg-blue{ background-color: @blue !important;}
.bg-dark-grey{ background-color: @dark_grey !important;}
.bg-dark-blue{ background-color: @dark_blue !important;}
.bg-light-green{ background-color: @light_green !important;}
.bg-light-blue{ background-color: @light_blue !important;}
.bg-light-yellow{ background-color: @light_yellow !important;}
.bg-light-grey{background-color: @light_grey !important; }
/*Estilos especiales para marcado de areas descartadas*/
.bg-red-color{
    color: #FFF;
    background-color: @red !important;
}
.border-red-top{
    border-top: 2px solid @red !important;
    color: @red !important;
}


body{
  padding: 0px;
  margin: 0px;
  background: @background; color: @color;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
a { color: @a_color; text-decoration: underline; cursor: pointer; }
a:hover { color: @a_hover; text-decoration: none; }
#flashNotice{
  color: @a_color;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}
#flashError{
  color: @red;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
td .fieldWithErrors {
  display: block !important;
}

#errorExplanation {
  width: 400px;
  border: 2px solid @red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  h2{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 2px;
    background-color: @background2;
    color: @color2;
    border-bottom: 2px solid @red;
  }

  p{margin-bottom: 0; padding: 5px; }
  ul li{font-size: 12px; list-style: none;}
}

table{
  border-collapse: collapse;
  border: 1px solid @color3;
}
tr{
  border-top: 1px solid @table_border_color;
}

th, td{
/*  border: 1px solid @border_color_table;*/
  padding: 3px 10px;
}


/******************************/
/*Clases generales*/
.over{
  background-color: @tr_background !important;
}
.selected{
  background-color: @tr_selected !important;
  color: #FFF;
}
.even{
  background-color: @background2;
}
.disabled{
    color: @light_grey;
}

/***********************************************/
/*Forms*/
form p{
  clear: both;
  with: 100%;
  margin-bottom: 1em;
}

input, select, textarea{
  padding: 2px 3px;
  background: @background3;
  border-width: 1px;
  border_style: solid;
  border-color: @col1 @col2 @col3 @col4; /* @border_color;*/
  color: @color;
}
input[type="submit"] {
  margin:10px 200px;
  font-weight:bold;
  font-size: 1.3em;
  cursor: pointer;
}
input[type="file"] {
  color: @color;
  border-width: 1px;
  border_style: solid;
  border-color: @col1 @col2 @col3 @col4;
  /*background-color: @background2;
  border: 1px solid @border_color;*/
}
.num{
  text-align:right;
}
input.num{
  width: 10em;
  text-align: right;
}
legend{
  font-weight: bold;
  padding: 4px 12px;
}

label{
  vertical-align: top;
  font-weight: bold; 
  color: @color2;
}
.input{
  padding: 4px;
}
input:focus, textarea:focus{
  background-color: @color_hi;
  border: 1px solid @color_hi2;
}

.i{
  margin: 12px 4px;
}

div#cont{ 
  padding: 10px;
  text-align:left;
  margin:auto;
}



/*Menu*/
@a_menu_color: #5f5f5f;
ul#navigation{
  height: 28px;
  list-style: none;
  padding: 0px; margin: 0px;
  background: @background2;
  li{display: inline; float: left;}
  li a{
   display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 7px;
    border-right: 1px solid @border_color;
  }
  li a:hover{
    background: @a_menu_color !important;
  }
}
.buscar{
  background: @buscar_color;
  padding: 4px;
  display: table;
}
#enc{
  height: 75px;
  border-bottom: 2px solid @border_color;
  .login{
  font-weight: bold;
  padding: 10px 20px;
  a{
    text-decoration:none;
    font-size:1.6em;
    color: @background2 !important;
  }
  a:hover{text-decoration:underline; }
}
}

ul{margin:4px; padding:4px;}

/*++++++++++++++++++++++++*/
/*Estilos*/

.b{ font-weight: bold;}
.markedForDelete{ background-color: #FF7777; }

/*********************************/
/*Estilos Formtastic*/

.formtastic{
    ol {
        padding: 10px 15px;
        list-style: none;
    }
    abbr{ 
        color: #6AB825; 
        margin: 0px 2px;
    }
    .inline-errors{
        color: @red;
        margin: 0px 0px 3px;
    }
    .inline-hints{ 
        color: #5F5F5F;
        font-size: .9em;
        font-style: italic;
        margin: 1px;
    }
    li{
        margin: 10px 4px;
    }
    label{ float: left }
    fieldset{ border: 1px solid @col3;}
    fieldset.buttons{
        padding: 0px;
        border: none;
        ol{padding: 5px; margin: 0px; }
        li{padding: 0px; margin: 0px; }
    }
}

/*********************************************/
/*Area de importacion*/
@col-imp: #BAFBD4;
@col-enc: #BACBFB;
@col-desc: #FF0000;
@col-fin: #F6FA80;
@col-imp-color: #000000;
.area-imp{
    background-color: @col-imp !important;
    color: @col-imp-color;
}
.area-enc{
    background-color: @col-enc !important;
}
.area-desc{
    background-color: @col-desc !important;
    color: #FFF;
}
.area-fin{
    background-color: @col-fin !important;
}

/*******************************************/
/*Menu para Tabla HojaElectronica*/
div#areas-importacion{
    ul{
        padding: 0px;
        margin: 0px -10px;
        list-style: none;
        height: 28px;
        background: @background3;
        border-top: 2px solid @color3;
        border-bottom: 1px solid @color3;
        float: left;
        
        li{
            display: inline;
            padding: 0px;
            margin: 0px;
            
            a{
                padding: 5px 10px;
                font-weight: bold;
                border-right: 1px solid @border_color;
                float: left;
                margin-left: -1px;
                text-decoration: none;
            }
            a:hover{
                background-color: @color3;
                color: @a_hover_light;
            }
        }
    }

    .forma_areas{
        margin-left: 8em;
        float: left;
        select{ margin-left: 3em}
    }
    
}
#doc-info{
    h2{ 
        width: 40%;
        float: left;
        margin: 4px;
    }
    h3{ 
        width: 40%;
        float: left;
        margin: 4px;
    }
}

/******************************************************/
/*Estilos de selección de area*/
.bold{
    font-weight: bold;
}

.sheet {
    position: absolute;
    overflow:auto;
    right:0px;
    left:0px;
    top:220px;
    bottom:40px;
    padding: 0px;
    display: none;
}
.visible {
    display: block;
}
.sheet table {
    border: 1px solid #000;
    border-collapse:collapse;
    font-family:sans-serif;
    font-size:12px;
}
.sheet table th{
    background:#CCCCCC;
    border: 1px solid #000;
    border-collapse:collapse;
    text-align: center;
    vertical-align:bottom;
    text-align:center;
    width:20px;
    padding: 0px;
}
.sheet table td {
    vertical-align:bottom;
    padding: 0 3px;
    border: 1px solid #EEEEEE;
}

.sheet-cols{
    position: absolute;
    overflow: hidden;
    right: 16px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    cursor: default;
}
.sheet-rows{
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 19px;
    bottom: 16px;
    padding: 0px;
    cursor: default;
    width: 50px;
}
.sheet-content{
    position: absolute;
    overflow: scroll;
    right: 0px;
    left: 50px;
    top: 19px;
    bottom: 0px;
    padding: 0px;
    cursor: url("/images/excel_cursor_cross.cur"), crosshair;
}

.lista_hojas{
    width: 500px;
    height: 40px;
    left: 150px;
    position: absolute;
    bottom: 0px;
    overflow:hidden;
    display: inline;
    float: left;
}

.lista_hojas table{
    border: 0px;
}

.lista_hojas tr{
    border: 0px;
}

.lista_hojas td{
    padding: 0px 0px;
}

.lista_hojas a{
    font-size: 15px;
    padding: 2px 12px;
    text-decoration: none;
    display: block;
    color: #000;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
    background: #CCC;
    border: 1px solid #AAA;
}

.lista_hojas a.active{
    background: #EEE;
    font-weight: bold;
    border: 1px solid #333;
}

.lista_hojas a:hover {
    color: #505050;
}

.scroll {
    width: 150px;
    height: 40px;
    left: 0px;
    position: absolute;
    bottom: 0px;
    overflow:hidden;
    display: inline;
    float: left;
}

.scroll label{
    cursor: pointer;
}

td.sel{
    background: #E1EAF6 !important;
}
td.bold{
    font-weight: bold;
}
td.curr_cel{
    border: 1px solid;
}
td.hidden_cel{
    visibility: hidden;
    border: 0px none;
    padding: 0px;
    height: 30px;
}

/*Menu contextual*/
#menu-contextual{
    width: 300px;
    position: absolute;
    border: 1px solid @dark_blue;
    background-color: @a_hover_light;
     ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0px;
            padding: 0px;
            a{
                display: block;
                background-color:@a_hover_light;
                color: @color;
                padding: 4px 6px;
                border-bottom: 1px solid @color3;
                text-decoration: none;
            }
            a:hover{
                background-color: @dark_blue;
                color: @a_hover_light;
            }
        }
     }
}

.icon{
    width: 16px;
    height: 16px;
    display: block;
}
.fl{ float:left; }

.br{
    border-right: 1px solid @table_border_color;
}
