<!--areas/_encabezado.html.erb-->
<p class="inline-hints">
    Seleccione los campos que desea importar de la hoja
</p>
  <div style="height:270px; overflow:auto">
    <table id="tabla-encabezado">
      <tr class="th-head">
        <th class="ui-state-active">Celdas</th>
        <th class="ui-state-active">Campo ID (Base de datos)</th>
      </tr>
    </table>
  </div>
