<% f.inputs do %>
  <li class="string">
    <label for="id">Celda Inicial</label>
    <span id="span_fin_celda_inicial">&nbsp;</span>
  </li>
  <li class="string">
    <label for="id">Celda Final</label>
    <span id="span_fin_celda_final">&nbsp;</span>
  </li>
  <%= hidden_field_tag "#{f.object.class.to_s.underscore}[fin][celda_inicial]" %>
  <%= hidden_field_tag "#{f.object.class.to_s.underscore}[fin][celda_final]" %>
<% end %>
