<!--Para el formulario de las columnas a descartar-->
<div id="formulario-descartar-excepciones" style="overflow: auto;" class="formtastic">
  <p class="inline-hints">Seleccione la columna a no incluir en el descarte</p>
  <table id="excepciones-columnas">
    <tr>
      <td>
        Columnas:
      </td>
      <td>
        <div class="columnas" style="overflow:auto">
          <select id="select-excepciones" style="width:150px;">
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Texto:
      </td>
      <td>
        <input id="texto-excepciones" value="" />
      </td>
    </tr>    
  </table>
</div>
