<!--areas/_form.html.erb-->
<div id="formulario-areas">
  <% semantic_form_for(@area) do |f| %>
  <div id="area-tabs">
      
    <ul>
      <li><a href="#general">Selección</a></li>
      <li><a href="#encabezado">Encabezado</a></li>
    </ul>

    <div id="general">
      <%= render :partial => "areas/general", :locals => {:f => f} %>
    </div>
    <div id="encabezado">
      <%= render :partial => "areas/encabezado" %>
    </div>
  </div>

  <% end %>
</div>
