<!--areas/_crear_sinonimos.html.erb-->
<div id="formulario-sinonimos-crear" style="overflow: auto; height: 300px;" class="formtastic">
  <fieldset class="inputs">
    <ol style="list-style-type: none;">
      <li id="input_sinonimos_nombre" class="string optional nombre">
        <label for="sinonimos_nombre">Nombre</label>
        <input id="sinonimos_nombre" type="text" maxlength="255" name="sinonimos_nombre" size="25"/>
      </li>
      <li id="select_sinonimos_nombre" class="string optional campos">
        <label for="sinonimos_campos">Campos</label>
        <select id="sinonimos_campos" multiple="multiple" />
      </li>
    </ol>
  </fieldset>
</div>
