<!--areas/_form.html.erb-->
<div id="formulario-areas">
  <% semantic_form_for(@area) do |f| %>
  <div id="area-tabs">
      
    <ul>
      <li><a href="#general">Selección</a></li>
      <li><a href="#encabezado">Encabezado</a></li>
      <li><a href="#fin">Fin</a></li>
    </ul>

    <div id="general">
      <a href="/ayudas/form_area_general" target="_blank" class="ventana-ayuda">&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <%= render :partial => "areas/general", :locals => {:f => f} %>
    </div>
    <div id="encabezado">
      <a href="/ayudas/form_area_encabezado" target="_blank" class="ventana-ayuda">&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <%= render :partial => "areas/encabezado" %>
    </div>
    <div id="fin">
      <a href="/ayudas/form_area_fin" target="_blank" class="ventana-ayuda">&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <%= render :partial => "areas/fin" %>
    </div>
  </div>

  <% end %>
</div>
