<!--Para el formulario de las columnas a descartar-->
<div id="formulario-descartar" style="overflow: auto;" class="formtastic">
    <p class="inline-hints">Para seleccionar por patrón seleccione uno o mas items</p>
    <div id="div-select"></div>
    <input type="hidden" id="id-descartar" />
    <table id="tabla-patrones" height="400">
      <tr height="20">
        <th class="ui-state-active" width="200">Columnas</th>
        <th class="ui-state-active" width="200">Patrón</th>
        <th class="ui-state-active" width="200">Excepciones</th>
      </tr>
      <tr height="100%">
        <td class="br">
          <div class="columnas" style="overflow:auto">
            <select id="select-columnas" multiple="multiple" style="width:150px;">
            </select>
          </div>
        </td>
        <td class="br">
          <div class="patron" style="overflow:auto">
            <ul class="listado">
            </ul>
          </div>
        </td>
        <td>
          <div class="excepciones" style="overflow:auto"></div>
        </td>
      </tr>
    </table>
</div>
