<!--areas/_sinonimos.html.erb-->
<div id="formulario-sinonimos" style="overflow: auto;" class="formtastic">
  Sin贸nimos
  <a href="#" class="crear-sinonimos">Crear sin贸nimo</a>
  <p class="inline-hints">
    Los sin贸nimos son grupos de campos de los cuales se busca su valor y se retorna un c贸digo definido por el usuario
  </p>
  <div id="div-sinonimos" style="height:270px; overflow:auto"></div>
</div>
