<!--areas/_form_guardar_como.html.erb-->
<div id="formulario-guardar-como">
  <fieldset class="inputs">
    <ol style='list-style-type:none;'>
      <li id="guardar_como_area_nombre_input" class="string optional nombre">
        <label for="guardar_como_area_nombre">Nombre</label>
        <input id="guardar_como_area_nombre" type="text" size="25" name="guardar_como_area_nombre" maxlength="255"/>
      </li>
    </ol>
  </fieldset>
  <button id='boton-guardar-como'>Guardar</button>
</div>
