<!--Para el formulario de las columnas a descartar-->
<div id="formulario-descartar" style="text-align: center; overflow: auto;" class="formtastic">
    <p class="inline-hints">Para seleccionar por patrón seleccione uno o mas items</p>
    <div id="div-select"></div>
    <p><input type="button" id="marcar" value="Marcar" class="ui-state-active"/></p>
</div>
