<!--Para el menu contextual-->
<div class="contextMenu" id="popup-menu">
  <ul>
    <li id="menu-area"> Marcar área</li>
    <li id="menu-encabezado"> Encabezado</li>
    <li id="menu-titular"> Titular</li>
    <li id="menu-fin"> Fin</li>
    <li id="menu-descartar"> Descartar</li>
  </ul>
</div>

