<style>
  fieldset{width: 50em;}
  label{width: 14em;}
</style>
<h1>Actualizar contraseña</h1>
<% semantic_form_for @usuario, :url => password_update_usuario_path, :html => {:method => 'put'} do |f| -%>
  <% f.inputs :name => "Contraseña" do %>
    <%= f.input :password_old, :label => 'Contraseña actual' %>
    <hr />
    <li>&nbsp;</li>
    <%= f.input :password, :label => 'Nueva contraseña' %>
    <%= f.input :password_confirmation, :label => 'Confirmar contraseña' %>
  <% end %>
  <%= f.submit "Actualizar contraseña" %>
<% end -%>
