<div id="doc-info" class="sheet-doc-info" style="top:0px;">
  <h2 class="dark-blue"><%= @archivo.nombre %></h2>
  <strong class="dark-grey">
    <%= @archivo.archivo_excel_file_name %> 
    <span class="green" style="font-size: 1.1em"><%= @archivo.archivo_excel_file_size.to_byte_size %></span>
  </strong>
  <div style="clear:both"></div>
</div>
<div id="toolbar" class="sheet-toolbar">
  <div id="areas-importacion">
    <ul>
      <li><a href="#" id="area-importar">Area</a></li>
      <li><a href="#" id="area-encabezado">Encabezado</a></li>
      <li><a href="#" id="area-descartar">Descartar</a></li>
      <li><a href="#" id="area-fin" >Fin</a></li>
    </ul>

    <button id="propiedades">Propiedades</button>
    <button id="salvar">Salvar</button>

    <div class="forma_areas">
      <label>Areas:</label>
      <%= select_tag("area", %(<option value="disabled" class="disabled">Deseleccionar</option>
          #{options_from_collection_for_select(@hoja.areas, 'id', 'nombre')} ) )  %>
    </div>
  </div>



  <!--Aqui se crea un ejemplo de los colores utilizados para las aeras-->
  <ul id="#jemplo-colores" style="display:none">
    <li class="area-imp"></li>
    <li class="area-enc"></li>
    <li class="area-desc"></li>
    <li class="area-fin"></li>
  </ul>
  <!--Fin-->

</div>

