<div id="doc-info" class="sheet-doc-info" style="top:0px;">
  <div class="forma_areas"> <!--style="float:left;"-->
    <table style="border: 0px; width:100%">
      <tr style="border: 0px;">
        <td>
          <h2 class="dark-blue"><%= @archivo.nombre %></h2>
          <strong class="dark-grey">
            <%= @archivo.archivo_excel_file_name %> 
            <span class="green" style="font-size: 1.1em"><%= @archivo.archivo_excel_file_size.to_byte_size %></span>
          </strong>
        </td>
        <td>
          <table style="border: 0px;">
            <tr style="border: 0px;">
              <td><label style="font-weight: bold;">ID:</label></td>
              <td><span class="area_id green" style="font-size: 1.5em; width: 30px; float: left; font-weight: bold;"></span></td>
              <td><label>Areas:</label></td>
              <td><%= select_tag("area", %(<option value="disabled" class="disabled">Deseleccionar</option>#{options_from_collection_for_select(@hoja.areas, 'id', 'nombre')} ) )  %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="areas-importacion">
  <table style="border: 0px;">
    <tr style="border: 0px;">
      <td style="padding: 3px 0px;">
        <ul>
          <li><a href="#" class="li-bg-light-green" id="area-importar">Area</a></li>
          <li><a href="#" class="li-bg-light-grey" id="area-titular">Titular</a></li>
          <li><a href="#" class="li-bg-light-blue" id="area-encabezado">Encabezado</a></li>
          <li><a href="#" class="li-bg-red-color" id="area-descartar">Descartar</a></li>
          <li><a href="#" class="li-bg-light-yellow" id="area-fin">Fin</a></li>
        </ul>
      </td>
      <td style="padding: 3px 20px;">
        <button id="propiedades">Propiedades</button>
        <button id="salvar">Salvar</button>
        <button id="guardar-como">Guardar como</button>
      </td>
    </tr>
  </table>
</div>
