<!--Para el formulario de las columnas a descartar-->
<div id="formulario-descartar" style="text-align: center;">
    <label for="columnas">Seleccione las columnas a utilizar como patr&oacute;n</label>
    <p><input type="button" id="marcar" value="Marcar" class="ui-state-active"/></p>
</div>
