<!--Para el menu contextual-->
<div class="contextMenu" id="popup-menu">
  <ul>
    <li id="menu-area"><img src="folder.png" /> Marcar &aacute;rea de importaci&oacute;n</li>
    <li id="menu-encabezado"><img src="email.png" /> Encabezado</li>
    <li id="menu-titular"><img src="disk.png" /> Titular</li>
    <li id="menu-fin"><img src="cross.png" /> Fin</li>
    <li id="menu-descartar"><img src="cross.png" /> Descartar</li>
  </ul>
</div>

